.DS_Store
._*
Thumbs.db
desktop.ini
*~
*.bak
core
*.orig
*.o
*.d
*.a
obj/
.vscode/
.idea/
*.swp
*.log
*.env
coverage/
*.gcno
*.gcda
*.gcov
*.txt
!requirements.txt
*.html
*.url
*.sh
!scripts/setup_dev.sh
.history
.ytree-hst
.ytree-*.chdir
.history/
ytree
ytree.1
ytree.1.gz
ytree.1.*.gz
.venv/
__pycache__/
*.pyc
/coverage/