.DS_Store
._*
Thumbs.db
desktop.ini
*~
*.bak
core
*.orig
*.o
*.a
.vscode/
.idea/
*.swp
*.log
*.env
coverage/
*.gcno
*.gcda
*.gcov
*.txt
*.html
*.sh
.history
.ytree-hst
.ytree-*.chdir
.history/
ytree
ytree.1.gz
ytree.1.*.gz